*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*common*/
body{
    font-family: 'Montserrat', sans-serif;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: 0 auto;
}
/*fine common*/

/*header*/
header{
    background-color: violet;
    margin: 10px;
}

img{
    height: 70px;
    padding-right: 20px;
    border-right: 1px solid lightgrey;
}

nav{
    margin: 40px 0;
}

nav li{
    display: inline;
    list-style: none;
    text-transform: uppercase;
    padding-right: 10px;
}

nav li a{
    text-decoration: none;
    color: lightgray;
}

/*fine header*/

.slider{
    background-color: goldenrod;
    height: 400px;
    margin: 10px;
}

/*parte esercizio con float*/
.main{
    background-color: blue;
    margin: 10px;
}

.title{
    background-color: cornflowerblue;
    height: 50px;
    margin-bottom: 10px;
}

.text,
.text3{
    background-color: cornflowerblue;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% / 5 );
}

.text2{
    background-color: cornflowerblue;
    float: left;
    margin: 10px;
    width: calc((100% / 5)*3 - 20px);
}
/*fine float*/

footer{
    background-color: darkmagenta;
    height: 50px;
    margin: 10px;
}