*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*common*/
body{
    font-family: 'Montserrat', sans-serif;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
/*fine common*/

/*header*/
header{
    margin: 10px;
}

#logo img{
    height: 70px;
    padding-right: 20px;
    border-right: 1px solid lightgrey;
}

nav{
    margin: 40px 0;
}

nav li{
    display: inline;
    list-style: none;
    text-transform: uppercase;
    padding-right: 10px;
}

nav li a{
    text-decoration: none;
    color: gray;
}

/*fine header*/

/*slider o banner*/

.slider{
    position: relative;
    height: 450px;
    margin: 10px;
    color: white;
    border-radius: 10px;
}


.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.slider-text{
    position: absolute;
    right: 45%;
    bottom: 60px;
    left: 5%;
    font-weight: 500;
    font-size: 21px;
}
/*fine banner*/

/*titoli*/
.title{
    margin: 30px 0;
}

.title h2{
    font-weight: 700;
    font-size: 37px;
}

.title p{
    color: gray;
}
/*fine titoli*/

/*main*/
.main{
    margin: 10px;
}

.col {
    float: left;
    position: relative;
}

.left,
.right {
    width: calc(100% / 5);
}

.center {
    width: calc(100% / 5 * 3 - 20px);
    margin: 0px 10px;
}

.pictures {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    width: 100%;
}

.pictures img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.col h4 {
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin: 15px 0;
}

.col p {
    color: gray;
}
/*fine main*/

footer{
    background-color: darkmagenta;
    height: 50px;
    margin: 10px;
}